<div id="inputvalue">
    <h1>Age Calculator</h1>
    <input type="datetime-local" [(ngModel)]="dateval">
    <button (click)="cal()">Calculate</button>
    <div id="list">
        <p>{{seconds}}<span>Seconds</span></p>
        <p>{{minutes}}<span>Minutes</span></p>
        <p>{{hours}}<span>Hours</span></p>
        <p>{{days}}<span>Days</span></p>
        <p>{{weeks}}<span>Weeks</span></p>
        <p>{{months}}<span>Months</span></p>
        <p>{{years}}<span>Years</span></p>
    </div>
</div>


