input{
   width: 300px;
   height: 40px;
   border-radius: 30px;
   padding: 0px 10px;
   border: none;
   position: absolute;
   left: 30px;
   font-size: larger;
}
#inputvalue{
    position: relative;
    background-color: blueviolet;
    min-width: 500px;
    min-height: 500px;
    border-radius: 5px;
}
button{
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    border: none;
    font-weight: bolder;
    position: absolute;
    right: 30px;
    cursor: pointer;
}
#inputvalue h1{
    text-align: center;
   color: white;
   background-color: black;
}
h1{
    padding: 10px;
    margin: 20px 0px;
}
#list{
    margin-top: 90px;
    text-align: center;
    font-weight: bolder;
    
}
#list p{
    margin: 30px 0px;
}
span{
    margin-left: 10px;
}
